
<div class="" id="clientDetail">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
  veniam, quis nostrud exercitation ullamco laboris
  </p>
  <div class="col">
  <!-- <div class="col"><div class="vertical-line"></div></div> -->
  <!-- <div class="col"> -->

      <div class="form-group col-12">
         <div class="sec-row relative" *ngFor="let endclient of endClient">
            <div class="vertical-line"></div>
              <div class="sec-col">
                  <label for='clientName'>End Client Name</label>
                  <input type="text" class="form-control" [(ngModel)]="endclient.name"  disabled/>
              </div>
              <div class="sec-col">
                  <label for='clientName'>End Client Website</label>
                  <input type="text" class="form-control" [(ngModel)]="endclient.website" disabled/>
              </div>
          </div>
      </div>
      <div>
        <div class="sec-row relative btn" (click)="addClient()">
        <i class="fa fa-plus-circle"></i>
        <a >Add Another Client</a>
      </div>
      </div>
      <div class="form-group col-12">
          <div class="sec-row relative" *ngFor="let client of client">
              <div class="vertical-line"></div>
              <div class="sec-col">
                  <label >Client Name</label>
                  <input type="text" class="form-control" [(ngModel)]="client.name"/>
              </div>
              <div class="sec-col">
                  <label >Client Website</label>
                  <input type="text" class="form-control" [(ngModel)]="client.website"/>
              </div>
              <div class="sec-col">
                  <label></label>
                  <i class="fa fa-minus-circle" (click)="deleteClient(client)"></i>
              </div>
          </div>
      <!-- </div> -->
  </div>
  <div>
    <div class="btn sec-row relative pointer" (click)="addClient()">
    <i class="fa fa-plus-circle"></i>
        <a >Add Another Client</a>
      </div>
  </div>
    <div class="form-group col-12">
          <div class="sec-row relative" *ngFor="let org of orgs">
              <div class="vertical-line"></div>
              <div class="sec-col">
                  <label >Your Organization</label>
                  <input type="text" class="form-control" [(ngModel)]="org.name" disabled/>
              </div>
          </div>
      <!-- </div> -->
  </div>
    <div>
      <div class="btn sec-row relative" (click)="addVendor()">
      <i class="fa fa-plus-circle"></i>
        <a >Add Vendor</a>
      </div>
    </div>

    <div class="form-group col-12">
          <div class="sec-row relative" *ngFor="let vendor of vendors">
              <div class="vertical-line"></div>
              <div class="sec-col">
                  <label >Vendor Name</label>
                  <input type="text" class="form-control" [(ngModel)]="vendor.name"/>
              </div>
            <div class="sec-col">
                  <label >Vendor Website</label>
                  <input type="text" class="form-control" [(ngModel)]="vendor.website"/>
              </div>
            <div class="sec-col">
                  <label></label>
                  <i class="fa fa-minus-circle" (click)="deleteVendor(vendor)"></i>
              </div>
          </div>
      <!-- </div> -->
  </div>
    <div>
      <div class="btn sec-row relative" (click)="addVendor()">
      <i class="fa fa-plus-circle"></i>
        <a >Add Vendor</a>
      </div>
      </div>

  </div>
</div>
